body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 2em;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 2em;
}

.fantastic {
  color: #e87104;
}

.awoot-content {
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
